ol {
    display: flex;
    flex-wrap: wrap;
}

.tile-container {
    list-style: none; /* Remove bullet points */
    min-width: 25%;
}

.tile {
    margin: 20px 20px;
    width: 250px;
    height: 300px;
    display: grid;
    background-color: rgb(187, 193, 199);
}

.preview {
    width: 250px;
    height: 250px;
}

.middle-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.rating {
    align-self: right;
}

.tooltip {
    position: relative;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  text-align: center;
  padding: 5px 0;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  margin-left: 20px;
  margin-top: 20px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
  
/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.manageButtons {
    display: flex;
    margin-top: 10px
}